@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
  
    .about-containers {
      flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #nav {
      display: none;
    }
  
    #hamburger-nav {
      display: flex;
    }
    
  }