@media screen and (max-width: 1400px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
  
    .about-containers {
      flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #nav {
      display: none;
    }
  
    #hamburger-nav {
      display: flex;
    }
    
  }

  @media(max-width: 768px){
    section{
      margin: 0 3rem;
    }
    .row{
      grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
      margin-top: 30px;
    }
  }