@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    background: #26292F;
}

body {
    font-family: "Jost", sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(87, 87, 87);
}

/*Desktop Nav*/
nav,
.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: 24px;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4vh;
    transition: .3s;
    background-color: transparent;
}

li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 8px 10px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(250, 193, 6);
    bottom: -9px;
    left: 0;
    transition: ease .4s;
}

.nav-links a:hover{
    color: rgb(250, 193, 6);
}

.nav-links a:hover::after{
    width: 100%;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(250, 193, 6);
}

.logo:hover {
    cursor: default;
}

/*Hamburger Menu*/

#hamburger-nav {
    display: none;
  }
  
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(250, 193, 6);
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: transparent;
    max-height: 0;
    width: fit-content;
    overflow: hidden;
  }

  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: rgb(250, 193, 6);
        bottom: -1px;
        left: 0;
        transition: ease .4s;
    }

  .menu-links a:hover::after{
    width: 100%;
  }

  .menu-links li {
    list-style: none;
    }
  
  .menu-links.open {
    max-height: 300px;
  }
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }

/*Section*/
  section {
    padding-top: 3vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  .section__text{
    align-self: center;
    text-align: center;
  }

/* Profile */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.section__text__p1{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.title {
    font-size: 3.5rem;
    margin: 10px;
    text-align: center;
}

.social{
    align-items: center;
    justify-content: center;
}

.social a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: rgb(250, 193, 6) 2px solid;
    font-size: 22px;
    color: rgb(250, 193, 6);
    margin: 10px;
}
.social a:hover{
    transform: scale(1.1);
    background: #26292F;
    transition: ease.5s;
}

.profile-img{
  display: flex;
  height: 340px;
  width: 340px;
  margin: auto 0;
  border-radius: 300px;
}

.profile-img img{
    border-radius: 300px;
    background-color: white;
    box-shadow:  -5px -5px 30px #3f3f3f,
    10px 10px 20px #303030;
}

.profile-img img:hover{
  transform: scale(1.1);
  background: transparent;
  transition: .5s;
}

.profile-text{
    align-self: center;
    text-align: center;
}

.profile-text h1{
    font-size: 4rem;
    font-weight: 600;
    margin: 5px 0px 15px;
    line-height: 1.1;
    color: rgb(250, 193, 6);
}
.profile-text h3{
    color: white;
    font-size: 2vh;
    font-weight: 500;
}

.profile-text h2{
    font-size: 2rem;
    color:white;
    font-weight: 600;
    margin-bottom: 35px;
}

.btn{
    display: inline-flex;
    padding: 15px 20px;
    background: transparent;
    border: 2px solid rgb(250, 193, 6);
    border-radius: 5px;
    color: rgb(250, 193, 6);
    letter-spacing: 1px;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    transition: ease .50s;
    margin: 0px 20px 45px 20px;
}

.btn:hover {
    transform: scale(1.1);
    background: rgb(92, 92, 92);
    transition: .5s;
}

/*About*/
#about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 2rem;
}

.about-img img{
  max-width: 100%;
  width: 440px;
  height: auto;
}

.about-text h2{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 8px 0px 25px;
  line-height: 1.1;
}
.about-text h3{
  font-size: 20px;
  font-weight: 500;

}
.about-text h4{
  max-width: 550px;
  font-size: 1rem;
  color: gray;
  line-height: 28px;
  margin-bottom: 45px;
}
/*Skills*/
#skills {
    position: relative;
}
.skill-container{
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 1.5rem;
    flex: 1;
    background: transparent;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
    width: 500px;
}
.skill-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    text-align: center;
}
.skill-box{
    display: inline-flex;
    padding: 20px;
    transition: ease .5s;
    cursor: pointer;
}

.skill-box:hover{
    background: #797979;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    will-change: transform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05, 1.05, 1.05);
}