@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jost", sans-serif;
    background-color: #26292F;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(87, 87, 87);
}

/*Desktop Nav*/
nav,
.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
    font-size: 24px;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4vh;
    transition: .3s;
    background-color: transparent;
}

li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    padding: 8px 10px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(250, 193, 6);
    bottom: -9px;
    left: 0;
    transition: ease .4s;
}

.nav-links a:hover{
    color: rgb(250, 193, 6);
}

.nav-links a:hover::after{
    width: 100%;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(250, 193, 6);
}

.logo:hover {
    cursor: default;
}

/*Hamburger Menu*/

#hamburger-nav {
    display: none;
  }
  
  .hamburger-menu {
    position: relative;
    display: inline-block;
  }
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(250, 193, 6);
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: transparent;
    max-height: 0;
    width: fit-content;
    overflow: hidden;
  }

  .menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
  }
  
  .menu-links a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: rgb(250, 193, 6);
        bottom: -1px;
        left: 0;
        transition: ease .4s;
    }

  .menu-links a:hover::after{
    width: 100%;
  }

  .menu-links li {
    list-style: none;
    }
  
  .menu-links.open {
    max-height: 300px;
  }
  
  .hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
  }
  
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }
  
  .hamburger-icon span:first-child {
    opacity: 1;
  }
  
  .hamburger-icon span:first-child {
    transform: none;
  }

/*Section*/
  section {
    padding-top: 1rem;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  .section__text{
    align-self: center;
    text-align: center;
  }

  .section-container {
    gap: 4rem;
    height: 75%;
  }

/* Profile */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.title{
  position: relative;
}
.title h2{
  font-family: 'Poppins', sans-serif;
  font-size: 5.5rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  color: #4e4e4e;
}
.title div{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-50%, -50%);
}
.title div h3{
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(250, 193, 6);
}

.social{
    align-items: center;
    justify-content: center;
}

.social a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: rgb(250, 193, 6) 2px solid;
    font-size: 22px;
    color: rgb(250, 193, 6);
    margin: 10px;
}
.social a:hover{
    transform: scale(1.1);
    background: #555657;
    transition: ease.5s;
}

.profile-img{
  display: flex;
  height: 340px;
  width: 340px;
  margin: auto 0;
  border-radius: 300px;
}

.profile-img img{
    border-radius: 300px;
    background-color: white;
    box-shadow:  -5px -5px 30px #3f3f3f,
    10px 10px 20px #303030;
}

.profile-img img:hover{
  transform: scale(1.1);
  background: transparent;
  transition: .5s;
}

.profile-text{
    align-self: center;
    text-align: center;
}

.profile-text h1{
    font-size: 4rem;
    font-weight: 600;
    margin: 5px 0px 15px;
    line-height: 1.1;
    color: rgb(250, 193, 6);
}
.profile-text h3{
    color: white;
    font-size: 2vh;
    font-weight: 500;
}

.profile-text h2{
    font-size: 2rem;
    color:white;
    font-weight: 600;
    margin-bottom: 35px;
}

.btn{
    display: inline-flex;
    padding: 15px 20px;
    background: transparent;
    border: 2px solid rgb(250, 193, 6);
    border-radius: 5px;
    color: rgb(250, 193, 6);
    letter-spacing: 1px;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    transition: ease .50s;
    margin: 0px 20px 45px 20px;
}

.btn:hover {
    transform: scale(1.1);
    background: rgb(92, 92, 92);
    transition: .5s;
}

/*About*/
#about {
  position: relative;
  justify-content: center;
  align-items: center;
}

.about-container{
  width: 100%;
  padding: 2.5rem 0;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.col header.about-title{
  font-family: 'Jost', sans-serif;
  color: rgb(250, 193, 6);
  font-size: 1.4rem;
  padding: 0px 0px 20px 30px;
}

.col .about-contents{
  padding: 0px 30px;
  border-left: 2px solid gray;
}

.col .about-contents .about-box{
  position: relative;
  padding: 20px;
  border: 1px solid beige;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}

.col .about-contents .about-box:hover{
  box-shadow: 0px 3px 12px 0px #26292F;
  border: 1px solid transparent;
}

.col .about-contents .about-box::before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 22px);
  top: 0;
  background-color: rgb(250, 193, 6);
  border: 2px solid white;
}

.about-box h2{
  position: relative;
  color: rgb(250, 193, 6);
  font-size: 1.3rem;
}

.about-box h4{
  position: relative;
  color: rgb(206, 206, 206);
}

.about-box h3{
  position: relative;
  color: rgb(126, 125, 125);
}

.about-img{
  position: relative;
  align-items: center;
}

/*Skills*/
.skills{
  display: relative;
}
.skills .skill-text{
  width: 70%;
  margin: 1.5rem auto;
  text-align: center;
  color: white;
}
.skills .skill-row{
  margin: 1rem 0;
  padding-bottom: 5rem;
}
.skills .skill-item{
  padding: 0.5rem 0;
  margin: 0.3rem 0;
}
.skills .skill-item-text{
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
  font-size: 1.3rem;
  position: relative;
  color: white;
}
.skills .skill-item-text span:last-child{
  position: absolute;
}
.skills .skill-item-text .skill-w-90{
  margin-left: 85%;
}
.skills .skill-item-text .skill-w-75{
  margin-left: 70%;
}
.skills .skill-item-text .skill-w-85{
  margin-left: 80%;
}
.skills .skill-item-text .skill-w-80{
  margin-left: 75%;
}
.skills .skill-item-text .skill-w-20{
  margin-left: 15%;
}
.skills .skill-item-text .skill-w-95{
  margin-left: 90%;
}
.skill-progress{
  margin: 0.8rem 0;
  border-radius: 10px;
  height: 9px;
  width: 100%;
  background-color: #4e4e4e;
  overflow: hidden;
}
.skill-progress-bar{
  background: rgb(250, 193, 6);
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.skill-progress-bar.w-90{
  width: 90%;
}
.skill-progress-bar.w-75{
  width: 75%;
}
.skill-progress-bar.w-85{
  width: 85%;
}
.skill-progress-bar.w-80{
  width: 80%;
}
.skill-progress-bar.w-20{
  width: 20%;
}
.skill-progress-bar.w-95{
  width: 95%;
}